# Supabase Configuration
SUPABASE_URL=https://eefjyoxdkunltjrnwqko.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWT_SECRET=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Postgres Configuration
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=postgres
POSTGRES_HOST=db.eefjyoxdkunltjrnwqko.supabase.co
POSTGRES_PASSWORD=
POSTGRES_DATABASE=postgres
